.TodoItem{
    padding:0.5em;
    display: flex;
    align-items: center;
}
.TodoItem input{
    width:22px;
    height:22px;
    margin:0.5em;
    cursor: pointer;
}
.TodoItem>.title{
    flex-grow:1;
    padding:0.5em;
    color:#7F6F7C;
    font-weight:bold;
    font-size:20px;
    word-break:normal; 
    width:0; 
    display:block; 
    white-space:pre-wrap;
    word-wrap : break-word ;
    overflow: hidden ;
    cursor:default;
}
.TodoItem >button{
    padding:0.5em 0.7em;
    font-size: 16px;
    border-radius:50%;
    outline: none;
    border:none;
    background: #EA5050;
    color:#FFFDFE;
    box-shadow: 0 0 0.3em rgba(131, 35, 35, 0.849);
    cursor: pointer;
}
.TodoItem >input {
    transform: scale(1.5);
}