.UserDialog-Wrapper{
    position:fixed;
    top:0; bottom:0; left:0; right:0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.3);
}
.UserDialog{
    border: 1px #aaa solid;
    border-radius: 5px;
    background: white;
    min-width: 20em;
    padding:20px;
    box-shadow: 0 0 1em hsla(0,0%,0%,0.35);
}
/* .UserDialog > nav{ padding: 1em; }
.UserDialog > nav:first-child input[type=radio]:not(:first-child){ margin-left: 2em; } */
.UserDialog > nav:first-child{ padding: 1em; margin-left: -2em;}
.UserDialog > nav:first-child input{outline: none;}
.UserDialog > nav:first-child label{ margin-left: 2em; cursor: pointer;}
.UserDialog > .panes { padding: 0 1em 1em; }
.UserDialog form>.row{ display: flex; padding: .3em 0;}
.UserDialog form>.row>label{position: relative;}
.UserDialog form>.row>label input{
    position: absolute;
    left:100%;
}
.UserDialog form>.row>label:first-child{ width: 4em; }
.UserDialog form>.row.actions{ padding-left: 4em; }